{% extends "model_base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block main %}
    <div id='main' class='container'>
        <div class='row'>
            <h3 class='text-center' style='margin-bottom:0; color:grey'>Marque</h3>
            <h1 class='text-center' style='margin:10px 0 100px 0;'>{{ brand.title }}</h1>
            {% if brand.illustration %}
                <div class='col-md-5 col-md-offset-1 illustration text-center'>
                <div class='illustration'>
                    <img src='{{ MEDIA_URL }}{% thumbnail brand.illustration 300 400 %}' class='img-thumbnail' alt='illustration {{ brand.title }}' />
                </div>
            {% endif %}

            {% if not brand.illustration %}
            <div class='col-md-10 col-md-offset-1'>
            {% else %}
            <div class='col-md-5'>
            {% endif %}
                {% if brand.topics.all|length %}
                    <div><strong>Rubriques associées à la marque: </strong></div>
                    <div class='company_topics'>
                        {% for topic in brand.topics.all %}
                            <div class='company_topic'>
                                <i class='fa fa-plus'></i> {{ topic.title }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if brand.products.all|length %}
                    <div class='separator'></div>
                    <div>
                        <div><strong>Produits distribués par cette marque: </strong></div>
                        {% for product in brand.products.all %}
                            <a href='{{ product.get_absolute_url }}'>
                                {{ product.title }}
                            </a>
                            {% if not forloop.last %}| {% endif %}
                        {% endfor %}
                        {# {% if brand.brands.all|length > 6 %} #}
                            {# <i class='fa fa-ellipsis-h'></i> #}
                        {# {% endif %} #}
                    </div>
                {% endif %}
                <div class='separator'></div>
                {% if distributors %}
                    <div><strong>Distributeurs: </strong></div>
                    {% for distrib in distributors %}
                        <a href='{{ distrib.get_absolute_url }}'>
                            {{ distrib.title }}
                        </a>
                        {% if not forloop.last %}| {% endif %}
                    {% endfor %}
                {% else %}
                    <strong>Aucun distributeur connu pour cette marque</strong>
                {% endif %}

                {% if subsidiaries|length %}
                    <div class='separator'></div>
                    <div class='company_brands'>
                        <div><strong>Filliales: </strong></div>
                        {% for sub in subsidiaries %}
                            <div class='company_sub'>
                                <a href='{{ sub.sub_company.get_absolute_url }}'>{{ sub.sub_company.title }}</a>
                                {# [ {{ sub.relaton }} ] #}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if twin_brands %}
                    <div class='separator'></div>
                    <div><strong>Marques homonymes: </strong></div>
                    {% for twin in twin_brands %}
                        <div class='brand_twin_brand'>
                            <a href='{{ twin.get_absolute_url }}'>
                                {{ twin.title }}
                            </a>
                            {% if twin.products %}
                                <span class='text-muted'>[{% for product in twin.products.all %}
                                    {{ product.title }}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}]</span>
                            {% endif %}
                            {% if not forloop.last %}| {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}

