

body{
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin-bottom: 25px;
    color: rgb(174,17,28);
}
input, select{
    margin-top: 10px;
}
footer{
    min-height: 100px;
    margin-top: 70px;
    padding: 20px;
    background-color: rgb(174,17,28);
    color: #FFFFFF;
}

.blue, .fa:not(.fa-caret-right){
    color: #428bca;
}
.count{
    padding: 2px 10px 4px 10px;
    border-radius: 4px;
    background-color: rgb(174,17,28);
    color: white;
    font-weight: bolder;
}

#search{}
#form_container{
    padding: 30px 0 10px 0;
    border: 1px dotted rgb(174,17,28);
}
#main_search_container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
#main_search_input{
    display: inline-block;
    height: 70px;
    width: calc(65% - 5px);
    max-width: none;
    border: 1px solid #cccccc;
    text-align: center;
}
#main_search_secondary{
    float: right;
    display: inline-block;
    width: 35%;
}
#model_type{
    height: 70px;
}

#search_separator{
    margin-bottom: 15px;
    border-bottom: 2px dotted rgb(240,240,240);
}

#results{
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}
#results .nav.nav-pills{
    display: inline-block;
    width: auto;
    margin: auto;
}
.resultBox{
    height: 300px;
    margin: 20px 0;
    padding: 10px;
    background-color: #FFFFFF;
    border: 1px solid #e7e7e7;
}.resultBox h3{
    display: inline-block;
    margin: 0;
    font-size: 15px;
    color: #428bca;
}
.person_companies{
    margin-right: 4px;
    font-size: 12px;
}
.company_topics{
    margin-right: 4px;
    font-size: 12px;
}
.company_topics{
    display: inline-block;
    margin: 0 3px 0 5px;
}
.job_person{
    font-size: 13px;
}










