

body{
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin-bottom: 25px;
    color: rgb(174,17,28);
    font-family: 'Comfortaa', cursive;
}
input, select{
    margin-top: 10px;
}
footer{
    min-height: 120px;
    padding: 60px;
    background-color: rgb(174,17,28);
    color: #FFFFFF;
    font-weight: bolder;
}
strong{
    font-weight: bold;
    letter-spacing: 1px;
    color: rgb(174,17,28);
}
a{  
    font-family: 'Comfortaa', cursive;
}
.separator{
    width: 100%;
    margin: 15px 0;
    border: 2px dotted rgb(240,240,240);
}
.blue, .fa:not(.fa-caret-right){
    color: #428bca;
}
.red{
    color: rgb(174,17,28);
}
.fa-warning{
    color: rgb(174,17,28);
}
.count{
    padding: 2px 10px 4px 10px;
    border-radius: 4px;
    background-color: rgb(174,17,28);
    color: white;
    font-weight: bolder;
}

#logo-adt{
    margin: auto;
    margin: 30px 0 50px 0;
}#logo-adt img{
    max-width: 300px
}
#main{
    margin-bottom: 100px;
}
#search{
    margin-bottom: 50px;
}
#form_container{
    padding: 30px 0 20px 0;
    border: 1px dotted rgb(174,17,28);
}
#main_search_container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}
#secondary_search_container{
    max-height: 0px;
    overflow: hidden;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}#secondary_search_container.deploy{
    max-height: 1000px;
}
#main_search_input{
    display: inline-block;
    height: 70px;
    width: calc(65% - 5px);
    max-width: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    text-align: center;
    font-size: 27px;
    color: rgb(174,17,28);
}
#main_search_secondary{
    float: right;
    display: inline-block;
    width: 35%;
}
#model_type{
    height: 70px;
}

#search_separator{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 2px dotted rgb(240,240,240);
}
#deploy_secondary{
    /*top: 10px;*/
    /*left: 20px;*/
}

#results{
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}
#results .nav.nav-pills{
    display: inline-block;
    width: auto;
    margin: auto;
}
#context{
    margin: 30px 0;
    padding: 10px;
    background-color: white;
}
.resultBox{
    height: 300px;
    margin: 20px 0;
    padding: 10px;
    overflow: auto;
    background-color: #FFFFFF;
    border: 1px solid #e7e7e7;
    font-size: 12px;
}.resultBox h3{
    display: inline-block;
    margin: 0;
    font-size: 15px;
    color: #428bca;
}
.resultBox .illustration{
    margin: 10px 0 5px 0;
}

.person_companies{
    margin-right: 4px;
    font-size: 12px;
}

.company_topics{
    /*margin: 0 3px 0 5px;*/
}.company_topic{
    display: inline-block;
    margin-right: 4px;
    font-size: 12px;
}
.company_brands{
    margin: 0 3px 0 5px;
    font-size: 12px;
}
.job_person{
    margin-top: 20px;
    font-size: 12px;
}
.job_separator{
    width: 75%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #428bca;
}
.brand_products{
    font-size: 12px;
}


@media screen and (min-width: 991px){
    #search{
        min-height: 350px;
    }
}







