{% extends "login_base.html" %}
{% load mezzanine_tags keyword_tags i18n staticfiles %}
{% load custom_tags %}
{% load bootstrap3 %}

{% block main %}
        {% if goToLogin %}
        <div id='form' class='col-md-6 col-md-offset-3 text-center' style='margin-top: 30px; padding:30px; background-color:white; border-radius:5px;'>
            <h3>Un mail vient de vous être adressé, contenant votre mot de passe</h3>
            <a href='{% url 'connect' %}' style='font-size:22px; font-weight:bold; color:#007099;'>
                <i class='fa fa-sign-in'></i>
                Retour à la page de connexion
            </a>
        </div>
        {% elif form %}
        <div id='form' class='col-md-6 col-md-offset-3 text-center' style='margin-top: 30px; padding:30px; background-color:white; border-radius:5px;'>
            <h2 style='color:#007099;'>{{ formTitle }}</h2>
            <h5 style='margin: 0 0 20px 0'>Entrez ci-dessous votre adresse email:</h5>
            <div class='thumbnail col-md-12' style='padding:30px; '>
                <form method='POST' action=''>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-success" style='margin-top:10px;'>
                            Confirmer
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
        {% endif %}
{% endblock %}