{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static "css/temp.css" %}">
{% endblock %}

{% block meta_title %}DisplayCompanies{% endblock %}
{% block title %}Display/Print{% endblock %}


{% block main %}

    {% if allCat %}
        <form method='POST' action=''>
            {% csrf_token %}
            <select name="topic">
                <option value='False'>sans catégorie</option>
                {% for cat in allCat %}
                    <option value="{{ cat.pk }}">
                    {{cat}}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary" style='margin-top:10px;'>Envoyer
            </button>
        </form>
    {% else %}
        <h4>Résultats pour : </h4>
        <h1 class='text-center' style='margin-bottom:30px; color:#428bca;'>{{ topic.title|upper }}</h1>
        {% for societe in allCompanies %}
            <div class='societe'>
                <h1>{{ societe.title }}</h1>
                <div class='row'>
                    <div class='info col-md-6'>Adresse: <b>{{ societe.adress }}</b></div>
                    <div class='info col-md-6'> Code Postal: <b>{{ societe.zipCode }}</b></div>
                    <div class='info col-md-6'> BP: <b>{{ societe.bp }}</b></div>
                    <div class='info col-md-6'>ville: <b>{{ societe.city }}</b></div>
                    <div class='info col-md-6'>Région: <b>{{ societe.area }}</b></div>
                    <div class='info col-md-6'>Pays: <b>{{ societe.country }}</b></div>
                    <div class='info col-md-6'>EMail: <b>{{societe.email}}</b></div>
                    <div class='info col-md-6'>Telephone: <b>{{societe.tel }}</b></div>
                    <div class='info col-md-6'>Fax: <b>{{societe.fax }}</b></div>
                    <div class='info col-md-6'>web: <b>{{societe.website}}</b></div>
                </div>
                {% if not "false" in societe.content|richtext_filters|lower|safe %}
                <div class='row'>
                    <div class='col-md-10 col-md-offset-1' style='margin-top:10px; padding:3px 6px; background-color:rgb(230,230,230);'>
                        {{ societe.content|richtext_filters|safe  }}
                    </div>
                </div>
                {% endif %}
                {% if societe.topics.all|length  %}
                <div class='topics' style='margin-top:20px;'><b> RUBRIQUES </b>
                    <div class='row'>
                    {% for topic in societe.topics.all %}
                        <div class='col-md-4'>
                            <h4>{{ topic }}</h4>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% if societe.brands.all %}
                <div class='marques'><b>PRODUITS </b>
                    <div class='row'>
                    {% for productType, brands in societe.productList.items %}
                        <div class='marque col-md-3'>
                            <h4>{{ productType.title }}</h4>
                            {% for brand in brands %}
                                {{ brand.title }} | 
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class='membres row'>
                    <div class='col-md-12 text-left' style='margin: 15px 0 5px 0;'><b>EMPLOYES </b></div>
                    {% for membre in societe.employees %}
                        <div class='col-md-3 col-sm-4 col-xs-6'>
                            <div class='membre'>
                                <h4 >{{ membre.firstName }} <b style='color:rgb(50,50,60);'>{{ membre.title }} </b></h4>
                                {% if membre.illustration %}
                                    <img src='{{ MEDIA_URL }}{% thumbnail membre.illustration 0 80 %}' />
                                {% endif %}
                                <div class='info'> Poste:<b> {{ membre.job.title }} </b></div>
                                <div class='info'>Adresse:<b> {{  membre.adress }} </b></div>
                                <div class='info'> Code Postal:<b> {{  membre.zipCode }} </b></div>
                                <div class='info'>ville:<b> {{  membre.city }} </b></div>
                                <div class='info'>Région:<b> {{  membre.area }} </b></div>
                                <div class='info'>Pays:<b> {{  membre.country }} </b></div>
                                <div class='info'>EMail:<b> {{ membre.email}} </b></div>
                                <div class='info'>Telephone:<b> {{ membre.tel }}</b></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if societe.filliales %}
                    <div style='margin-top:15px;'><b>FILLIALES</b></div>
                    <div class='allFilliales'>
                    {% for subsociete in societe.filliales %}
                        <div class='filliale'>
                            <h2>{{ subsociete.sub_company.title }}</h2>
                            <div class='row'>
                                <div class='info col-md-6'>Adresse: {{ subsociete.sub_company.adress }}</div>
                                <div class='info col-md-6'> Code Postal: {{  subsociete.sub_company.zipCode }}</div>
                                <div class='info col-md-6'> BP: {{  subsociete.sub_company.bp }}</div>
                                <div class='info col-md-6'>ville: {{  subsociete.sub_company.city }}</div>
                                <div class='info col-md-6'>Région: {{  subsociete.sub_company.area }}</div>
                                <div class='info col-md-6'>Pays: {{  subsociete.sub_company.country }}</div>
                                <div class='info col-md-6'>EMail: {{ subsociete.sub_company.email}}</div>
                                <div class='info col-md-6'>Telephone: {{ subsociete.sub_company.tel }}</div>
                                <div class='info col-md-6'>Fax: {{ subsociete.sub_company.fax }}</div>
                                <div class='info col-md-6'>web: {{ subsociete.sub_company.website}}</div>
                            </div>
                            {% if not "false" in subsociete.sub_company.content|richtext_filters|lower|safe %}
                            <div class='row'>
                                <div class='col-md-10 col-md-offset-1' style='margin-top:10px; padding:3px 6px; background-color:rgb(230,230,230);'>
                                    {{ subsociete.sub_company.content|richtext_filters|safe  }}
                                </div>
                            </div>
                            {% endif %}
                            {% if subsociete.sub_company.topics.all|length  %}
                            <div class='topics' style='margin-top:20px;'><b> RUBRIQUES </b>
                                <div class='row'>
                                {% for topic in subsociete.sub_company.topics.all %}
                                    <div class='col-md-4'>
                                        <h4>{{ topic }}</h4>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% if subsociete.sub_company.brands.all %}
                            <div class='marques'><b>PRODUITS </b>
                                <div class='row'>
                                {% for productType, brands in subsociete.productList.items %}
                                    <div class='marque col-md-3'>
                                        <h4>{{ productType.title }}</h4>
                                        {% for brand in brands %}
                                            {{ brand.title }} | 
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            <div class='membres row'>
                                <div class='col-md-12 text-left' style='margin-top:15px; margin-bottom: 5px;'><b>EMPLOYES </b>
                                </div>
                                {% for membre in subsociete.employees %}
                                    <div class='col-md-3 col-sm-4 col-xs-6'>
                                        <div class='membre' style='margin-top:0; border-top:1px solid grey'>
                                            <h4>{{ membre.firstName }} {{ membre.title }} </h4>
                                            {% if membre.illustration %}
                                                <img src='{{ MEDIA_URL }}{% thumbnail membre.illustration 0 80 %}' />
                                            {% endif %}
                                            <div class='info'> Poste:<b> {{ membre.job.title }} </b></div>
                                            <div class='info'>Adresse:<b> {{  membre.adress }} </b></div>
                                            <div class='info'> Code Postal:<b> {{  membre.zipCode }} </b></div>
                                            <div class='info'>ville:<b> {{  membre.city }} </b></div>
                                            <div class='info'>Région:<b> {{  membre.area }} </b></div>
                                            <div class='info'>Pays:<b> {{  membre.country }} </b></div>
                                            <div class='info'>EMail:<b> {{ membre.email}} </b></div>
                                            <div class='info'>Telephone:<b> {{ membre.tel }}</b></div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
            {% if subsociete.subFilliales %}
                <div style='margin-top:15px;'><b>FILLIALES</b></div>
                <div class='allFilliales'>

                {% for SubSubSociete in subsociete.subFilliales %}
                    <div class='filliale' style='border-color:red;'>
                        <h2>{{ SubSubSociete.sub_company.title }}</h2>
                        <div class='row'>
                            <div class='info col-md-6'>Adresse: {{ SubSubSociete.sub_company.adress }}</div>
                            <div class='info col-md-6'> Code Postal: {{  SubSubSociete.sub_company.zipCode }}</div>
                            <div class='info col-md-6'> BP: {{  SubSubSociete.sub_company.bp }}</div>
                            <div class='info col-md-6'>ville: {{  SubSubSociete.sub_company.city }}</div>
                            <div class='info col-md-6'>Région: {{  SubSubSociete.sub_company.area }}</div>
                            <div class='info col-md-6'>Pays: {{  SubSubSociete.sub_company.country }}</div>
                            <div class='info col-md-6'>EMail: {{ SubSubSociete.sub_company.email}}</div>
                            <div class='info col-md-6'>Telephone: {{ SubSubSociete.sub_company.tel }}</div>
                            <div class='info col-md-6'>Fax: {{ SubSubSociete.sub_company.fax }}</div>
                            <div class='info col-md-6'>web: {{ SubSubSociete.sub_company.website}}</div>
                        </div>
                        {% if not "false" in SubSubSociete.sub_company.content|richtext_filters|lower|safe %}
                        <div class='row'>
                            <div class='col-md-10 col-md-offset-1' style='margin-top:10px; padding:3px 6px; background-color:rgb(230,230,230);'>
                                {{ SubSubSociete.sub_company.content|richtext_filters|safe  }}
                            </div>
                        </div>
                        {% endif %}
                        {% if SubSubSociete.sub_company.topics.all|length  %}
                        <div class='topics' style='margin-top:20px;'><b> RUBRIQUES </b>
                            <div class='row'>
                            {% for topic in SubSubSociete.sub_company.topics.all %}
                                <div class='col-md-4'>
                                    <h4>{{ topic }}</h4>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if SubSubSociete.sub_company.brands.all %}
                        <div class='marques'><b>PRODUITS </b>
                            <div class='row'>
                            {% for productType, brands in SubSubSociete.productList.items %}
                                <div class='marque col-md-3'>
                                    <h4>{{ productType.title }}</h4>
                                    {% for brand in brands %}
                                        {{ brand.title }} | 
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div class='membres row'>
                            <div class='col-md-12 text-left' style='margin-top:15px; margin-bottom: 5px;'><b>EMPLOYES </b>
                            </div>
                            {% for membre in SubSubSociete.employees %}
                                <div class='col-md-3 col-sm-4 col-xs-6'>
                                    <div class='membre' style='margin-top:0; border-top:1px solid grey'>
                                        <h4>{{ membre.firstName }} {{ membre.title }} </h4>
                                        {% if membre.illustration %}
                                            <img src='{{ MEDIA_URL }}{% thumbnail membre.illustration 0 80 %}' />
                                        {% endif %}
                                        <div class='info'> Poste:<b> {{ membre.job.title }} </b></div>
                                        <div class='info'>Adresse:<b> {{  membre.adress }} </b></div>
                                        <div class='info'> Code Postal:<b> {{  membre.zipCode }} </b></div>
                                        <div class='info'>ville:<b> {{  membre.city }} </b></div>
                                        <div class='info'>Région:<b> {{  membre.area }} </b></div>
                                        <div class='info'>Pays:<b> {{  membre.country }} </b></div>
                                        <div class='info'>EMail:<b> {{ membre.email}} </b></div>
                                        <div class='info'>Telephone:<b> {{ membre.tel }}</b></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}



