{% extends "base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block extra_css %}
<style type="text/css">
    strong{
        margin-bottom: 20px;
    }
    .company_sub{
        display: inline-block;
        margin: 5px 10px 5px 0;
        padding: 7px 10px;
        background-color: #f8f8f8;
    }
</style>
{% endblock %}
{% block extra_js %}
<script src="{% static "js/main.js" %}"></script>
{% endblock %}

{% block meta_title %}ANNUAIRE EN LIGNE{% endblock %}


{% block main %}
{% endblock %}
